<p> List of users for confirmation</p>
<% if @users.blank? %>
    <h2> No accounts for confirmation </h2>
<% else %>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
<% @users.each do |user| %>
    <tbody>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= link_to "Confirm", admin_confirmation_path(id: user.id, confirmed: true), method: :put %>
        </tr>
    </tbody>
    <% end %>
</table>
<%end%>

