<%= stylesheet_link_tag '/objects/_error-404.scss' %>

<div class='error'>
  <%= image_tag '404.png', :class=> 'error-img' %>
  <h3>page not found</h3>
  <p>The page you are looking for might have been removed had its nave changed or is temoporarily unavailable</p>
  <%= link_to root_path, :class => 'btn' %>
</div>