<%# Main Css  %>
<%= stylesheet_link_tag "/pages/sessions/login.scss" %>


<div id='login' class='container'> 

  <%# Content %>
  <main class='login-container'>
    <%= render 'form' %>
  </main>
  <footer>
    <%= render 'devise/shared/footer' %>
  </footer>
</div>
